/* @font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
} */

* {
    font-family: 'Poppins', sans-serif;
}

/* html, body {
    overflow-x: hidden;
} */

body {
    background-color: #fff8ed;
}


*:focus {
    outline: 0;
}

p {
    font-size: 16px;
    opacity: 0.8;
}

.titolo {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 1px;
    opacity: 0.95;
}

.titoletto {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    opacity: 0.9;
}

.centrato {
    text-align: center;
}

input[type=button]:active, #send:active {
    transform: translateY(1px);
}


.icona {
    box-shadow: 0px 7px 18px rgba(83,112,128,0.21);
    border-radius: 50%;
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.icona img {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.8;
}

.descrizione {
    margin-top: 25px;
}



/*inizio so*/

#footer {
    padding-top: 3%;
    padding-bottom: 1.5%;
    background-color: #ffedd1;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
}

#footer li {
    float: left;
    display: block;
    font-family: "Poppins";
    text-align: center;
}

#sezioni li {
    font-size: 13px;
    letter-spacing: 1px;
    margin-right: 31px;
    text-decoration: none;
}

#sezioni li a {
    color: black;
    opacity: 0.8;
}

#footer a:hover {
    text-decoration: none;
	cursor: pointer;
}

#social li {
    color: grey;
    /*padding: 14px 16px;*/
    padding-left: 30px;
    /*padding-right: 5px;*/
    font-size: 16px;
    text-decoration: none;
}

#social li a {
    color: #b15000;
}

#footer a:hover i {
    color: #642d00;
}

.pFooter {
    padding-top: 20px;
    font-family: "Myriad Pro";
    opacity: 0.85;
    margin-bottom: 0px;
}

/*fine so*/



#header {
    background-image: url("../img/drone/3.jpg");
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/drone/1.jpg"); */
    background-size: cover;
    margin: auto;
}

#header * {
    color: white;
}

.navbar {
    background-image: url("../img/headercdb.png");
    background-size: cover;
    border: none;
    padding-top: 20px;
    min-height: 80px;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

#myNavbar > ul {
    margin: 0;
    overflow: hidden;
}

#myNavbar > ul > li {
    float: left;
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.85;
}

#myNavbar > ul > li a:hover {
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.85);
}

#mainjohn {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.95;
}

#hamburger {
    margin-top: 0px;
    background-color: transparent;
    border: none;
}

.navbar-right li {
    margin-right: 20px;
}

#menu {
    margin-top: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
    display: none;    
}

#hello {
    margin-top: 80px;
}

#headersx {
    padding-top: 5%;
    color: white;
    padding-bottom: 5%;
}

#hellotitolo {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 3px;
    opacity: 1;
    word-break: break-word;
    -webkit-text-stroke: 1px black;
}

#didascalia {
    font-size: 16px;
    opacity: 1;
}

#headerdx {
    padding-top: 5%;
    margin-bottom: 5%;
}

#johnimg {
    /*text-align: center;*/
    margin: auto;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #ffffff;
    width: 300px;
    height: 300px;;
}

#johnimg > img {
    margin: auto;
    margin-top: 30px;
}

#dcv {
    width: 218px;
    height: 55px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.9);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: rgba(0,0,0,1);
}

#butInformazioni {
    width: 218px;
    height: 55px;
    border-radius: 5px;
    background-color:transparent;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: rgba(255,255,255,1);
    margin-left: 3%;
}

@media(max-width: 1200px) {
    /*
    #myNavbar > ul > li {
        padding-left: 0%;
        text-align: left;
        float: none
    }
    */

    #butInformazioni {
        margin-top: 3%;
        margin-bottom: 9%
    }

    #bottoniheader {
        text-align: center;
    }

    #headersx {
        /* padding-top: 0% */
        padding-bottom: 0%;
    }

    #butInformazioni {
        margin-left: 0%
    }

    .centrato {
        text-align: center
    }


    #social {
        margin: auto;
        margin-top: 15px;
    }

    .servizio {
        padding-top: 10%;
        padding-bottom: 15%
    }

    :target:before {
        content: "";
        display: block;
        height: 150px;
        margin: -150px 0 0;
    }
}

@media(max-width: 992px) {
    .navbar-right li {
        margin-right: 0px;
    }

    #contenitoreimg {
        max-height: 459px;
        max-width: 287px;
        box-shadow: 0px 9px 32px;
        border: 10px solid #f7f6f2;
    }

    #headerdx {
        padding-top: 0%;
    }

    #testo-aboutus {
        margin-top: 0px;
    }

    #social li {
        margin-top: 20px;
    }

    #social li:first-child {
        padding-left: 0%;
    }

    .skill:hover {
        transform: none
    }
}

@media(max-width: 768px) {
    #divPerchèOSM {
        margin-bottom: 30px !important;
    }

    :target:before {
        content: "";
        display: block;
        height: 100px;
        margin: -100px 0 0;
    }
}

@media(max-width: 700px) {
    #hellotitolo {
        font-size: 55px;
        letter-spacing: 1px;
    }
}

@media(max-width: 545px) {
    #hellotitolo {
        font-size: 45px;
        letter-spacing: 0px;
        /* word-break: break-all; */
    }
    #myNavbar > ul > li {
        float: none;
    }
}

@media(max-width: 480px) {
    #mainjohn {
        font-size: 18px;
    }
}

@media(max-width: 398px) {
    #mainjohn {
        font-size: 14px;
    }
}

@media(max-width: 315px) {
    #sezioni li {
        float: none;
        margin-right: 0px;
    }

    #social li {
        float: none;
        padding-left: 0;
        margin: 5px;
    }
}






/* Attività */

.montserrat {
    font-family: "Montserrat";
}

.raleway {
    font-family: "Raleway";
}

.grassetto {
    font-weight: bold;
}

.centrato {
    text-align: center;
}

.grigio {
    background-color: #ecf0f1;
}

.lineetta {
    background-color: #dcdcdc;
    width: 100px;
    height: 1px;
    border: 0;
}

.titolo {
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 24px;
    color: #1c1c1c;
}

.sopratitolo {
    font-family: "Raleway";
    font-size: 14px;
    color: #7b7b7b;
}

.piano {
    border-radius: 5px;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

.piano:hover {
    box-shadow: 0 0 8px #aeaeae;
}

.piano:hover .testata {
    background-color: #34495e;
}

.piano:hover .testata * {
    color: #ffffff;
}

.testata {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f9f9f9;
    padding: 10%;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.testata * {
    transition-property: color;
    transition-duration: 0.5s;
}

.tipo {
    text-align: left;
    display: inline-flex;
    margin-left: 0;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 16px;
}

.tariffa {
    text-align: right;
    float: right;
    display: inline-flex;
    margin-right: 0;
}

.tariffa * {
    line-height: 22px;
    vertical-align: middle;
}

.dollaro {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 24px;
    color: #dd6f00;
}

.prezzo {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 36px;
    color: #dd6f00;
}

.anno {
    font-family: "Raleway";
    font-size: 12px;
    color: #a5a5a5;
}

.corpo {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    padding: 10%;
    align-items: center;
    font-family: "Raleway";
    min-height: 355px;
}

.spunta {
    color: #dd6f00;
}

.croce {
    color: #4d4d4d;
}

.getstart {
    color: #ffffff;
    width: 161px;
    height: 40px;
    border-radius: 2px;
    background-color: #dd6f00;
    background-image: url("../img/headercdb.png");
    background-size: cover;
    border: 0;
    display: block;
    margin: 0 !important;
}

.getstart:active {
    transform: translateY(1px);
}

.getstart:focus {
    outline: 0;
}


/* Chi siamo */

.divImmagineCompagnia {
    text-align: center;
}

.divImmagineCompagnia > img {
    width: 100%;
    border-radius: 20px;
}


.featureBlock{
    margin-top:5px;
    /* display:inline-block; */
    transition:transform .2s;
    min-height: 235px;
}
.featureBlock:hover{
    transform:scale(1.1);
}
.featureBlock > img{
    margin-bottom:10px;
    max-height: 100px;
    border-radius: 100px;
}
.featureBlock > h5{
    font-weight:bold;
}

@media(max-width: 991px) {
    .featureBlock{
        min-height: auto;
    }
}

@media(max-width: 553px) {
    .featureBlock {
        min-height: 210px;
    }
    .featureBlockLungo {
        min-height: 270px;;
    }
}

@media(max-width: 359px) {
    .featureBlockSpaziato {
        min-height: 250px;
    }
}


/* Modal */

.utility_modalModal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}

.utility_modalModalContenuto {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    max-width: 90%;
    max-height: 90%;
    position: fixed;
    z-index: 2001;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    overflow-y: auto;
}

.utility_but {
    display: inline-block;
    padding: 16px 24px 16px 24px;
    border-radius: 2px;
    color: white;
    width: 150px;
    margin-bottom: 10px;
    border: 0;
}

.utility_butModalConferma {
    /* margin-left: 10px; */
    background-color: #dd6f00;
    background-image: url("../img/headercdb.png");
    background-size: cover;
}

.utility_butModalAnnulla {
    margin-right: 10px;
    background-color: #34495e;
}

.utility_but:active {
    transform: translateY(1px);
}

.utility_but:focus {
    outline: 0;
}

.utility_pModalTitolo {
    font-weight: bold !important;
    font-size: 2em;
}

.utility_pModalDescrizione {
    font-size: 1em;
}

.utility_divModalBottoni {
    margin-top: 20px;
}

.utility_divModalCarosello {
    margin-top: 20px;
}

.carousel-caption {
    text-shadow: 0px 5px 5px black !important;
}

.carousel-caption > * {
    opacity: 1;
}

#divModalAvviso {
    z-index: 2002;
}


/* Contatti */

#divLeaflet {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 500px;
    margin: auto;
}


#divPerchèOSM {
    margin: auto;
    width: 100%;
    max-width: 500px;
    text-align: right;
    margin-top: 20px;
}

#butPerchèOSM, #butMappaGoogle {
    padding: 5px 30px;
    font-size: 0.8em;
    width: auto;
    background-color: #34495e;
}

#butPrenota {
    background-color: #dd6f00;
    background-image: url("../img/headercdb.png");
    background-size: cover;
}

#divBottoniContatti {
    margin-top: 30px;
}

.divPezzettoContatti {
    margin-bottom: 30px;
}

#divRecapiti > p {
    word-break: break-word;
}

#divRecapiti > p > span:first-child {
    margin-right: 10px;
}

#divRecapiti > p > span:last-child {
    font-weight: bold;
}


/* #compagnia {
    background-image: url('../img/guide/compagnia1.jpg');
    background-position: center;
    border-radius: 20px;
}

#compagnia p {
    color: white;
    opacity: 1;
} */

#datepicker, #datepickers-container {
    z-index: 3000;
}

#divTurno {
    margin: 20px 0px;
}

textarea {
    resize: none;
}


@media(max-width: 750px) {
    .utility_modalModalContenuto {
        left: 20%;
        top: 20%;
        transform: translate(-10%, -20%);
    }
}

@media(max-width: 400px) {
    .carousel-caption * {
        font-size: 1em;
    }
}